.slider{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.window{
  width: 650px;
  height: 700px;
  padding: 50px 0;
  overflow: hidden;
  border: 2px solid red;
}

.slidesContainer{
  display: flex;
  transition: 1s ease;
}

.slideWrapper{
  min-width: 650px;
  max-width: 650px;
  /* width: 950px; почему нужно выставлять минимальную ширину?? */
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide{
  width: 600px;
  height: 600px;
}